@import "../../../init/vars"

/* HEADER: */
.navigation
  display: flex
  justify-content: space-around
  align-items: center
  background-color: $nav-bg

  h1
    font-size: $big-font-size
    color: $logo-color
    padding: $normal-padding
    font-weight: $bolder

.list
  display: inline-flex
  list-style-type: none
  padding: $normal-padding

  li
    padding: $small-padding

  a
    text-decoration: none
    font-size: $normal-font-size
    color: $link-color

.mobileList
  list-style-type: none
  display: none

$size: 40px
$color: white

@mixin pill()
  content: ''
  position: absolute
  width: 100%
  height: 12%
  background: $color
  border-radius: $size
  transition: all .5s cubic-bezier(.1, .9, 0, 1.2)

.menu
  position: relative
  width: $size
  height: $size

  div
    &:before
      @include pill()
      top: 10%
      right: 0


    &:after
      @include pill()
      bottom: 10%
      left: 0

    span
      position: absolute
      display: flex
      align-items: center
      height: $size
      width: $size

      &:before, &:after
        @include pill()

.active div
  &:before, &:after
    width: 0

  span
    &:before
      transform: rotate(135deg)

    &:after
      transform: rotate(45deg)
      box-shadow: 0 0 0 0 lighten($color, 35)


/* @media */