@import "../../../init/vars"

/* MAIN: */
.home
  article
    padding: $normal-padding

    h2
      color: $title-color
      font-size: $big-font-size

    p
      color: $default-color
      padding-left: $small-padding
      margin-right: 50%


.mainTitle
  color: $title-color
  font-size: $big-font-size
  padding: $small-padding
  text-decoration: underline

/* @media */