/* HEADER: */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-bg);
}

header > h1 {
  font-size: var(--big-font-size);
  color: var(--logo-color);
  padding: var(--normal-padding);
}

nav > ul {
  display: inline-flex;
  list-style-type: none;
  padding: var(--normal-padding);
}

nav > ul > li {
  padding: var(--small-padding);
}

nav > ul > li > a {
  text-decoration: none;
  font-size: var(--normal-font-size);
  color: var(--link-color);
}

/* @media */
