@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  /* BG COLORS: */
  --bg: rgb(43, 43, 43);
  --nav-bg: rgba(60, 61, 61, 0.815);
  --maing-bg: rgba(43, 44, 44, 0.815);

  /* FONT COLORS: */
  --logo-color: rgb(31, 103, 170);
  --link-color: rgb(179, 180, 180);
  --default-color: rgb(202, 212, 212);
  --title-color: rgb(181, 201, 212);

  /* FONT SIZES: */
  --small-font-size: 1em;
  --normal-font-size: 1.1em;
  --big-font-size: 2em;

  /* PADDINGS: */
  --small-padding: 0.8rem;
  --normal-padding: 1.2rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg);
}
