/* MAIN: */
.home > article {
    padding: var(--normal-padding);
}

.mainTitle {
    color: var(--title-color);
    font-size: var(--big-font-size);
    padding: var(--small-padding);
    text-decoration: underline;
}

.mainTitle::after {
    content: "|";
    animation: blink 1s step-end infinite;
}

.home > article > p {
    color: var(--default-color);
    padding-left: var(--small-padding);
    margin-right: 50%;
}

@keyframes blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* @media */