/* BG COLOUR: */
$main-bg: rgba(43, 44, 44, 0.815)
$nav-bg: rgba(60, 61, 61, 0.815)
$bg: rgb(43, 43, 43)

/* FONT COLOUR: */
$logo-color: rgb(31, 103, 170)
$link-color: rgb(179, 180, 180)
$default-color: rgb(202, 212, 212)
$title-color: rgb(181, 201, 212)

/* FONT SIZE: */
$tiny-font-size: 1.1em
$small-font-size: 1.3em
$normal-font-size: 1.7em
$big-font-size: 2em
$huge-font-size: 3em

/* PADDING: */
$tiny-padding: 0.4rem
$small-padding: 0.8rem
$normal-padding: 0.8rem
$big-padding: 1.1rem
$huge-padding: 1.3rem

/* FONT WEIGHT: */
$normal: 400
$bold: 500
$bolder: 600

/* GRID: */
$grid-width: 100rem
$gutter-vertical: 4rem
$gutter-horizontal: 4rem